user_uuid = "a7041418-9420-4909-9116-fa5b577c4faf"
bucket_name = "terraboot23mta2023"

index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"

content_version=1